* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template:
    "header header " 100px
    "left-menu main " auto /
    1fr 2fr;
  place-items: center;
}

header {
  grid-area: header;
  display: grid;
  grid-template:
    "Main-title navbar" 100px /
    50vw 50vw;
  place-items: center;
}

.Main-title {
  grid-area: Main-title;
}

.navbar {
  grid-area: navbar;
  padding: 40px 280px;
}

.navbar li {
  display: inline;
}

aside {
  grid-area: left-menu;
}

.picture {
  margin-bottom: 60px;
}

.Link-heading {
  text-align: center;
}

main {
  grid-area: main;
}
